.login-text {
  font-size: 36px;
}
.login-button {
  max-width: 960px;
  height: 48px;
  background-color: #0078c8;
  font-size: 18px;
  font-weight: bold;
}
.login-container {
  width: 960px;
  text-align: center;
}
